@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Poppins:wght@300;500&display=swap');

* {
      margin: 0px;
      padding: 0px;
  }
html {/* 小画面用 */
  font-size: 62.5%;
}


body {
  font-family: 'Poppins','Noto Sans JP', sans-serif;
  background-size: cover;
  font-size: 20px;
  font-size: 1.5rem;
  margin: 0px;
}

a{
  color: #fff;
  text-decoration: none;
  padding: 0 4px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(255, 255, 255) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
}
a:visited{
  color : #ffffff;
}
a:hover{
  background-position: -100% 0;
  color: rgb(132, 209, 253);
}

li{
  list-style: none;
  float:right;

  padding:30px 15px;
}

p {
  display: block;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}



.header {
  width: 100%;
  background-color: rgb(132, 209, 253);
  color: rgb(255, 255, 255);
  height: 90px;
  margin: 0;
  padding:0px 0px;
  position: fixed;
  box-sizing: border-box;
  z-index: 2;
}


.header-logo{
  font-size:36px;
  float:left;

  padding: 18px 40px;
}

.main {
  background-color: #f8f8f8;
  height:auto;
  padding:90px 0px 0px 0px;
  margin:0;
}

.container{
  width:auto;
  height: 850px;
  position: relative;
  margin:0;
}

.container video{ 
  width:100%;
  height: 850px;
  object-fit: cover;
  padding: 0px 0px;
  margin: 0px 0px;
}
.container h1{
  position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:0;
    margin:0;
    font-size:9rem;
    color: white;
    white-space: nowrap
}
.container h2{
  font-size:60px;
}

.aboutzone{
  display: block;
  width:100%;
  height: 900px;
  background-color: rgb(226, 226, 226);
  position: relative;     
}

.textzone{
  color: rgb(34, 34, 34);
  display: block;
  margin:  auto auto;
  padding: 25px auto;
  width:80%;
  height: 80%;
  position: absolute;          /* 位置指定 */
   top: 50%;                    /* 親要素の半分下にずらす */
   left: 50%;                   /* 親要素の半分右にずらす */
   transform: translateY(-50%) translateX(-50%);    /* 要素自体の半分、上と左にずらす */
}

.textzone h2{
  margin: 0 0 2.5rem;
}

.textzone h3{
  font-weight: 200;
  margin: 0 0 2.5rem;
}

.textzone h4{
  font-weight: 200;
  margin: 0 0 2.0rem;
}




@media only screen and (max-width:1200px) {
  html {
    font-size: 71.4286%;
  }
}
 
@media only screen and (min-width:1201px) {
  html {
    font-size: 75.8929%;
  }
}